body {
  margin: 0;
  background-color: white;
}

h1 {
  font-family: 'Tenor Sans', sans-serif;
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
}

h2 {
  font-family: 'Tenor Sans', sans-serif;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
}

h3 {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: white;
}

a  {
  font-family: 'Tenor Sans', sans-serif;
}

p {
font-family: 'Open Sans', sans-serif;
font-size: 20px;
}

label {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 20px;
  color: white;
  text-transform:uppercase;
}

input {
  font-family: 'Tenor Sans', sans-serif;
  border: 2px solid white;
  border-radius: 10px/10px;
}

textarea {
  font-family: 'Tenor Sans', sans-serif;
  border: 2px solid white;
  border-radius: 10px/10px;
}

.knapp {
  font-family:'Open Sans', sans-serif;
  background-color:#60c8cc;
  color: black;
  text-decoration: none;
  margin: 1% 0;
  padding:1.5%;
  border-radius: 20px/20px;
  border: 0;
  font-weight: bold;
}

.knapp:hover {
  transform: scale(1.2);
}

:focus {
  outline: solid #60c8cc;
}


/*---------------------------------------------------------------------------------Header*/
.header {
  background-color: #222222;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  box-shadow: 0 0 5px 2px #222222;
}

.header::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  margin: 0 0 0 auto;
  min-height: 10vh;
  display: flex;
  justify-content: right;
  align-items:center;
}

.logo {
  float: left;
  padding: 0;
  width: 10vw;
  margin-left: 10%;
}


/*Navigation bar*/
nav {
    float: right;
}

nav ul {
  margin: 0 70px 0 0;
  padding: 0;
  list-style:none;
}

nav li {
  display:inline-block;
  margin-left: 70px;
  position: relative;
}

nav ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: 'tenor sans', sans-serif;
}

nav ul li a:hover {
  color: #60c8cc;
}

nav ul li a::before {
  content: '';
  display: block;
  height: 2px;
  background-color: #60c8cc;
  position: absolute;
  bottom: 0;
  width: 0;
  transition: all ease-in-out 250ms;
}

nav ul li a:hover::before{
  width: 100%;
}

#chosen {
  color: #60c8cc;
}


/*Hamburger menu*/
input[type=checkbox] {
  display: none;
}

#menu, #close {
  display: none;
}

i {
  color: white;
  display: block;
  padding: 2%;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}


/*Skip to content button*/
/*Ryan, P, 2020*/
#skip {
  position: absolute;
  left: -50%;
  padding: 1%;
  background: #60c8cc;
  color: black;
  font-size: 1.2rem;
}

#skip:focus {
  z-index: 1;
  left: 0;
}


/*---------------------------------------------------------------------------------Footer*/
footer{
  display: flex;
  flex-direction: row;
  background-color:black;
  align-items: center;
  justify-content: space-between;
  color: #dddddd;
  text-align:center;
  text-transform: uppercase;
  font-size: 20px;
  font-family:'Tenor Sans', sans-serif;
  font-weight: bold;
  width: 100%;
}



footer .footerInfo {
  margin:auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;

}

footer ul{
  list-style:none;
}

footer li {
  font-size: 15px;
  color: #aaaaaa;
  padding: 2%;
  white-space: nowrap;
}

footer .footerInfo ul li a {
  color: #aaaaaa;
  text-decoration: none;
  padding: 2% 5%;
}

.footerInfo ul li a:hover {
  text-decoration:underline;
}

.footerInfo h3, a {
  color: white;
  text-decoration:none;
}

.footerInfo a:hover {
  text-decoration:underline;
}


/*---------------------------------------------------------------------------------Index*/
#index {
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: #222222;
}

.indexInfo{
  display:flex;
  flex-direction: row;
  width: 100%;

}

.indexInfo img {
  width: 45vw;
  border-radius: 15px/15px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.indexBigLogo{
  display: block;
  margin-left:auto;
  margin-right:auto;
  width: 45vw;

}

.indexBigLogo .contain {
  text-align:center;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.indexBigLogo img {
  display:block;
  width: 40%;
}

.indexBigLogo h1 {
  margin: 0;
}

#index2 {
  display: flex;
  flex-direction:row;
  /*  https://pixabay.com/no/photos/dyr-akvarium-akvatiske-blå-coral-21668/*/
  background-image: url(image/fish2.jpg);
  height: 70vh;
  width: 95vw;
  margin: 5% auto;
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-size: cover;
  border-radius: 15px/15px;
}

#index2 .indexBigPictureInfo {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  height: 100%;
}

#index2 .indexBigPictureInfo h1{
  text-shadow: 1px 0.5px #000000;
}

#index2 .indexBigPictureInfo2 {
  width: 50%;
}

#index3 {
padding-top: 10%;
padding-bottom: 10%;
background-color: #222222;
}

#index3 .indexInfo .indexBigLogo {
  width: 40vw;
}

#index3 .indexBigLogo .contain h1{
  display:flex;
  flex-direction: column;
  width: 100%;
  color: white;
}

#index3 img {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 35vw;
}


/*---------------------------------------------------------------------------------AboutUs*/
#about {
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: #222222;
}

.aboutHeader{
  display:flex;
  flex-direction: row;
  width: 100%;
}

.aboutHeader img {
  width: 45vw;
  border-radius: 15px/15px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.aboutHeaderText{
  display: block;
  margin-left:auto;
  margin-right:auto;
  width: 45vw;

}

.aboutHeaderText .contain {
  text-align:center;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.aboutHeaderText img {
  display:block;
  width: 40%;
}

.aboutHeaderText h1 {
  margin: 0;
}

#about1 {
padding-top: 10%;
background-color: white;
}

.aboutInfo{
  display:flex;
  flex-direction: row;
  width: 100%;

}

.aboutInfo h1 {
  color: black;
}

.aboutInfo p {
  padding: 4%;
  border-radius: 15px/15px;
}

.aboutInfo .aboutBilde{
  width: 50vw;
  display: flex;
  align-items:center;
  justify-content:center;
}

.aboutInfo .aboutBilde img {
  width: 45vw;
  border-radius: 15px/15px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vw;
}

.aboutBigLogo{
  font-size: 1.85rem;
  display: block;
  margin-left:auto;
  margin-right:auto;
  width: 50vw;
}

.aboutBigLogo .contain {
  text-align:left;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  height: auto; /*100%*/
  width: 45vw;
}

.aboutBigLogo img {
  display:block;
  width: 40%;
}

.aboutBigLogo h1 {
  margin: 0;
}

#about2 {
  width: 100%;
  background-color: #222222;
}

#about2 h1 {
  text-align: center;
  padding: 5% 0 0 0;
}

#aboutTeam {
  display: flex;
  flex-direction: row;
}

#about2 .person {
  display: block;
  margin: 2% 2.5% 0 2.5%;
  text-align:center;
  width: 20vw;
  height: auto;
  background-color: white;
  border-radius: 15px/15px;
}

#about2 .person img {
  width: 95%;
  border-radius: 50%;
  margin: 5% auto;
}

#about2 .person h3 {
  color: black;
}
#about2 .person p {
  padding: 1%;
}

#about3 {
  background-color: #222222;
  padding: 5% 0;
}

#about3 h2{
  color: white;
}

#about3 .aboutBigPicture {
  /* https://pxhere.com/no/photo/952291 gammelt bilde*/
  /*Wikipedia. (2006). Norwegian Fjord. [Photograph]. Wikipedia. https://commons.wikimedia.org/wiki/File:Norwegian_Fjord.jpg*/
  background-image: url(image/fjord.jpg); /*alternativt barcode(litt mye som skjer bak teksten, fjord(fin), norwegianNature (litt dårlig kvalitet)*/
  height: auto;
  width: 95vw;
  margin: 0 auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px/15px;
}

#about3 .aboutBigPictureInfo {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 2%;
  width: 50%;
  background-color: rgba(34, 34, 34, 0.5);
  border-radius: 15px/0;
  height: 100%;
}

#about3 .aboutBigPictureInfo2 {
  width: 50%;
}

#about3 .knapp {
  width: 30%;
}

#about3 textarea {
  height: 20vh;
}

/*---------------------------------------------------------------------------------Problem*/
#problem1 {
  width: 100%;
  background-color: #222222;
}

.problemFront {
  display: block;
  margin: 0 auto;
  padding: 10% 0 5% 0;
  width: 90vw;
}

.problemFront img{
  width: 100%;
  max-height: 100vh;
  display:block;
  margin: 0 auto;
  border-radius:15px/15px;
}

.problemInfo{
  display: flex;
  flex-direction: row;
  margin: 5% auto;
}

.problemInfo .problemInfoText h1{
  color:black;
  text-align:center;
}

.problemInfo .problemInfoBilde{
  width: 50vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.problemInfo .problemInfoBilde img {
  width: 45vw;
  margin-top: 40px;
  max-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px/15px;
}

.problemInfo .problemInfoText {
  width: 50vw;
}

.problemInfo .problemInfoText p{
  text-align: center;
  margin: 20px;
}
.problemInfo .problemInfoText .problemInfoTextBox {
  width: 45vw;
  margin: auto;
}

.problemInfo .problemInfoText .problemInfoTextBox h2 {
  color: black;
  text-align: center;
}

#problem3{
  background-color: #222222;
  padding: 5% 0;
}
#problem3 .problemSeeThroughPicture{
  /* https://pixabay.com/no/photos/fisk-underwater-koraller-havet-378286/ */
  background-image: url(image/fish1.jpeg);
  height: 70vh;
  width: 95vw;
  margin: 0 auto;
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-size: cover;
  border-radius: 15px/15px;
}

#problem3 .problemSeeThroughInfo{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50vw;
  background-color: rgba(34, 34, 34, 0.5);
  border-radius: 15px/0;
  height: 100%;
  max-height: 100vh;
}


/*---------------------------------------------------------------------------------Solution*/
#solution1 {
  max-width: 100vw;
  background-color: #222222;
}

#solution1 #solutionFront{
  display: block;
  margin: 0 auto;
  padding: 10% 0 5% 0;
}

#solution1 #solutionFront img {
  max-height: 70vh;
  width: 90vw;
  display: block;
  margin: 0 auto;
  border-radius: 15px/15px;
}

.solutionInfo {
  display: flex;
  flex-direction: row;
}

.solutionInfo .solutionText h1, h2 {
  color: black;
  text-align: left;
}

.solutionInfo .solutionText{
  width: 50vw;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  margin: auto;
  padding: 2%;
}

.solutionInfo .solutionImage{
  width: 50vw;
}

.solutionInfo .solutionImage img {
  width: 45vw;
  max-height: 100vh;
  display: block;
  margin: 5% auto;
  border-radius: 15px/15px;
}

#solutionBigPicture{
  padding: 5vw;
  background-color: #222222;
  max-width: 100vw;
  height: 70vh;
}

#solutionBigPictureBackground {
  /*  https://www.123rf.com/photo_144078040_micro-plastics-mixed-in-the-sand-in-famara-beach-lanzarote.html */
  background-image: url(image/trash3.png);
  display: flex;
  height: 70vh;
  width: 90vw;
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-size: cover;
  border-radius: 15px/15px;
}

#solutionBigPictureTextBox {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50vw;
  background-color: rgba(34, 34, 34, 0.5);
  border-radius: 15px/0;
  height: 100%;
}

#solutionBigPictureTextBox h2 {
  color: white;
  text-align: center;
}

#solutionEmpty {
  width: 50vw;
}

/*---------------------------------------------------------------------------------Privacy*/
#privacy {
  padding: 10% 20% 10% 20%;
  background-color: #222222;
}

#privacy h1{
}

.privacyItem {
  background-color: white;
  margin-top: 10%;
  padding: 2%;
  color: black;
  border-radius: 15px/15px;
}

.privacyItem h2 {
  color: black;
  font-size: 1.7rem;
}

.privacyItem a {
  color: black;
}

.privacyItem a:hover {
  text-decoration: underline;
}

/*--------------------------------------------------------------------------------- Sources*/
#sources {
  text-align: center;
  background-color: #222222;
  padding: 10% 0 10% 0;
  margin: 0;
}

#sources .sourcesBox {
  background-color: white;
  padding: 2% 0;
  width: 80vw;
  border-radius: 15px/15px;
}

#sources .sourcesBox h2 {
  color: black;
}

#sources .sourcesBox h3 {
  color: black;
}

#sources ul {
  margin: 0;
  padding: 0;
}

#sources ul li {
  list-style: none;
  color: black;
  font-family: 'Open Sans', sans-serif;
  text-align:left;
  padding: 0 2%;
}

#sources ul li a {
  color: black;
  font-family: 'Open sans', sans-serif;
}

#sources ul li a:hover {
  text-decoration:underline;
}

#sources .sourcesBox {
  margin: 2% auto;
}



/*---------------------------------------------------------------------------------@Media*/
/*HORIZONTAL TABLET*/
@media only screen and (orientation: landscape) and (max-width: 1024px) {
  /*---------------------------------------------------------------------------------Header*/
  .header {
    height: 10vh;
  }

  /*---------------------------------------------------------------------------------Index*/

  /*---------------------------------------------------------------------------------AboutUs*/

  /*---------------------------------------------------------------------------------Problem*/

  /*---------------------------------------------------------------------------------Solution*/
  #solution1 {
  }

  #solution1 #solutionFront img {
    height: 60vh;
  }

  #solutionBigPicture {
    height: 50vh;
  }

  #solutionBigPictureBackground {
    height: 50vh;
  }


  /*---------------------------------------------------------------------------------Privacy*/
  #privacy {
    padding: 15% 10%;
  }

  /*---------------------------------------------------------------------------------Sources*/

}

/*HORIZONTAL MOBIL*/
@media only screen and (orientation: landscape) and (max-width: 896px) {
  /*---------------------------------------------------------------------------------Header*/

  .container {
    display: none;
    flex-direction: column;
  }

  #menu {
    display: block;
  }

  #toggle:checked ~ label #menu {
    display: none;
  }

  #toggle:checked ~ label #close {
    display: block;
  }

  #toggle:checked ~ .container {
    display: block;
  }

  #toggle:checked ~ .header {
    flex-direction: column;
    /*transition: max-height .2s ease-out;*/
  }

  .knapp {
    margin: 2%;
  }

  /*---------------------------------------------------------------------------------Index*/


  /*---------------------------------------------------------------------------------AboutUs*/

  /*---------------------------------------------------------------------------------Problem*/

  /*---------------------------------------------------------------------------------Solution*/
  #solution1 #solutionFront img{
    max-height: none;
    height: 60vh;
  }

  #solutionBigPicture {
    max-height: none;
    height: 60vh;
  }

  #solutionBigPictureBackground {
    height: 60vh;
  }

  /*---------------------------------------------------------------------------------Privacy*/

  /*---------------------------------------------------------------------------------Sources*/

}


/*VERTICAL TABLET*/
@media only screen and (max-width: 768px) {
  /*---------------------------------------------------------------------------------Header*/
  .header {
    height: 10vh;
  }

  /*---------------------------------------------------------------------------------Index*/
  .indexInfo{
    padding-top: 10%;
    display:flex;
    flex-direction: column;}

    .indexInfo img {
      width: 85vw;
    }

    .indexBigLogo{
      display: block;
      margin-left:auto;
      margin-right:auto;
      width: 95vw;

    }

    #index2 .indexBigPictureInfo{
      width: 100%;
    }

    #index3 {
      padding-top: 2%;
      padding-bottom: 5%;
    }

    #index2 .indexBigPictureInfo2 {
      width: 0;
    }

    #index3 .indexInfo img {
      margin-bottom: 2%;
      width: 50vw;
    }

  /*---------------------------------------------------------------------------------AboutUs*/

  /*---------------------------------------------------------------------------------Problem*/
  .problemInfo {
    flex-direction: column;
    width: 100%;
    margin: auto;
  }
  .problemInfoBilde {
    width: auto;
  }

  .problemInfoText {
    width: auto;
  }

  .problemInfoTextBox {
    width: auto;
  }

  .problemSeeThroughPicture {
    height: 20vh;
  }


  /*---------------------------------------------------------------------------------Solution*/
  #solution1 #solutionFront img {
    height: 40vh;
  }

  .solutionInfo {
    flex-direction: column;
  }

  #solutionInfoReverse {
    display: flex;
    flex-direction: column-reverse;
  }

  .solutionInfo .solutionText {
    margin: 0 7vw 0 5vw;
    width: 87vw;
    text-align: left;
  }

  .solutionInfo .solutionImage img {
    width: 60vw;
    margin: 5vw 20vw;
  }

  #solutionBigPicture {
    height: 40vh;
  }

  #solutionBigPictureBackground {
    height: 40vh;
  }

  #solutionBigPictureTextBox {
    width: 100vw;
  }

  #solutionEmpty {
    width: 0;
  }

  /*---------------------------------------------------------------------------------Privacy*/
  #privacy {
    padding: 10% 10%;
  }

  /*---------------------------------------------------------------------------------Sources*/

}

/*VERTICAL MOBIL*/
@media only screen and (max-width: 414px) {
  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.8rem;
  }
  /*---------------------------------------------------------------------------------Header*/
  .header {
    height: 5vh;
  }

  /*---------------------------------------------------------------------------------Footer*/


  /*---------------------------------------------------------------------------------Index*/
  .aboutInfo{
    display:flex;
    flex-direction: column;
    width: 100%;
  }
  .aboutInfo .aboutBilde{
    max-width: 90%;
    display: flex;
    align-items:center;
    justify-content:center;
  }

  .aboutInfo .aboutBilde img {
    /*max-width: 75vw;*/
    border-radius: 15px/15px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vw;
    max-width: 500px;
}
    .aboutBigLogo .contain {
      text-align:left;
      display:flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: auto;
      height: auto; /*100%*/
      width: auto;
}

.aboutBigLogo{
  font-size: 1.85rem;
  display: block;
  margin-left:auto;
  margin-right:auto;
  width: 85vw;
}
  /*---------------------------------------------------------------------------------AboutUs*/

  /*---------------------------------------------------------------------------------Problem*/
  .problemSeeThroughPicture {
    height: 20vh;
    background-attachment: initial;
  }


  /*---------------------------------------------------------------------------------Solution*/
  #solution1 #solutionFront img {
    height: 25vh;
  }

  .solutionInfo .solutionImage {
    width: 100vw;
  }

  .solutionInfo .solutionImage img {
    width: 90vw;
    margin: 5vw;
  }

  /*---------------------------------------------------------------------------------Privacy*/
  #privacy {
    padding: 10% 1%;
  }

  /*---------------------------------------------------------------------------------Sources*/

}


/*Newcomer, P, n.d.*/
/*--------------------------------------------------------------------------------- Internet Explorer*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  h1 {
    width: 100%;
  }

  h2 {
    width: 100%
  }

  h3 {
    width: 100%;
  }

  p {
    width: 100%;
  }

  .header {
    border-collapse: separate;
  }

  .header img {
    position: absolute;
    left: -10%;
  }
}
