body {
  margin: 0;
  background-color: white;
}

h1 {
  font-family: 'Tenor Sans', sans-serif;
  color: white;
}

a  {
  font-family: 'Tenor Sans', sans-serif;
}


/*---------------------------------------------------------------------------------HEADER*/
.header {
  background-color: #335e7f;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items:center;
  position: fixed;
  top: 0;
  width: 100%;

}

.header::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  margin: 0 0 0 auto;
  height: 10vh;
  display: flex;
  justify-content: right;
  align-items:center;
}


.logo {
  float: left;
  padding: 0;
  width: 10vw;
  margin-left: 10%;
}

nav {
    float: right;
}

nav ul {
  margin: 0 70px 0 0;
  padding: 0;
  list-style:none;
}

nav li {
  display:inline-block;
  margin-left: 70px;
  position: relative;
}

nav ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: 'tenor sans';
}

nav ul li a:hover {
  color: #fba100;
}

nav ul li a::before {
  content: '';
  display: block;
  height: 2px;
  background-color: #fba100;
  position: absolute;
  bottom: 0;
  width: 0;
  transition: all ease-in-out 250ms;
}

nav ul li a:hover::before{
  width: 100%;
}

/*Ryan, P, 2020*/
#skip {
  position: absolute;
  left: -50%;
  padding: 1%;
  background: orange;
  color: black;
  font-size: 1.2rem;
}

#skip:focus {
  left: 20%;
}


/*---------------------------------------------------------------------------------Index*/
#index {
padding-top: 10%;
padding-bottom: 10%;
background-color: #335e7f;
}

.indexInfo{
  display:flex;
  flex-direction: row;
  width: 100%;
}

.indexInfo img {
  width: 40vw;
  border-radius: 15px/15px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

#indexBigLogo{
  font-size: 2rem;
  display: block;
  margin-left:auto;
  margin-right:auto;
  width: 50vw;
}

#indexBigLogo .contain {
  text-align:center;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#indexBigLogo img {
  display:block;
  width: 40%;
}

#indexBigLogo h1 {
  margin: 0;
}



/*---------------------------------------------------------------------------------AboutUs*/

/*---------------------------------------------------------------------------------Problem*/

/*---------------------------------------------------------------------------------Solution*/

/*---------------------------------------------------------------------------------Privacy*/

/*---------------------------------------------------------------------------------@Media*/
/*HORIZONTALTABLET*/
@media only screen and (max-width: 1024px) {

}

/*HORIZONTAL MOBIL*/
@media only screen and (max-width: 896px) {

}

/*VERTICAL TABLET*/
@media only screen and (max-width: 768px) {

}

/*VERTICAL MOBIL*/
@media only screen and (max-width: 414px) {

}