body {
  margin: 0;
  width: 100%;
}


nav {

}

nav img {
height: 10vh;
float: left;
}

ul {
  height: 50px;
  background-color: grey;
  float: right;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
}
