i {
    padding: 0 5%;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
}

i h2 {
    color: white;
}

.fas{
    font-size: 2rem;
    color: white;
}


@media only screen and (orientation: landscape) and (max-width: 896px) {
    /*---------------------------------------------------------------------------------Header*/

}